# Importing libraries

In [13]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [14]:
# Turning project folder into string path 
path = r'C:\Users\keirr\11-2020 Instacart Basket Analysis'

# Contents
## 1. Importing datasets
## 2. Importing NEW dataset
## 3. Merging & Checking dataset
## 4. Exporting dataset in pickle format

# Importing datasets

In [15]:
# Importing products_checked.csv dataset with path
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

## Dropping 'unnamed: 0'

In [16]:
# Issue with import of df_ords.csv, dropping 'unnamed' column
df_prods.drop('Unnamed: 0', axis=1, inplace=True)

In [17]:
# Checking output for df_prods
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [18]:
# Importing orders_checked.csv dataset with path
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'))

In [19]:
# Issue with import of df_ords.csv, dropping 'unnamed' column
df_ords.drop('Unnamed: 0', axis=1, inplace=True)

In [20]:
# Checking output for df_ords
df_ords.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

# 2. Importing new dataframe

In [21]:
# Importing orders_products_prior.csv dataset with path
df_orders_products_prior = pd.read_csv(os.path.join(path, '02 Data', 'OG Data', 'orders_products_prior.csv'))

In [22]:
# Checking shape of new df
df_orders_products_prior.shape

(32434489, 4)

In [23]:
# Double-checking output of new df with head()
df_orders_products_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

# 3. Merging & Checking dataset

In [24]:
# Merging df_ords with df_orders_products_prior on 'order_id'
df_merged_large = df_ords.merge(df_orders_products_prior, on = 'order_id', indicator = True)

In [25]:
# Checking output of merge
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [26]:
# Checking for full-match 
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

# 4. Exporting data in pickle format

In [27]:
# Answer 2

# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))